<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div ng-controller="AnalyticsCtrl">

    <div class="container" ng-show="analyticsForm.show">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <div class="panel-title pull-left">New Analytics</div>
                </div>
                <div class="panel-body">
                    <form ng-submit="newAnalytics(analyticsForm.order); analyticsForm.show=false; print()">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">Dataset ID</div>
                                <input type="text" class="form-control"
                                       ng-model="analyticsForm.order.id">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="btn-group">
                                <label class="btn btn-success" ng-click="selectGraph(); print()"
                                       ng-model="analyticsForm.order.type" uib-btn-radio="'Graph'"
                                       uncheckable>Graph</label>
                                <label class="btn btn-success" ng-model="analyticsForm.order.type" uib-btn-radio="'T1'"
                                       uncheckable>Temp</label>
                                <label class="btn btn-success" ng-model="analyticsForm.order.type" uib-btn-radio="'T2'"
                                       uib-uncheckable="uncheckable">Temp</label>
                            </div>

                        </div>


                        <div class="form-group" ng-show="analyticsForm.order.type=='Graph'">
                            <div class="input-group">
                                <div class="input-group-addon">Node Limit</div>
                                <input type="number" class="form-control"
                                       ng-model="analyticsForm.order.nodeLimit">
                            </div>
                        </div>

                        <div class="form-group" ng-show="analyticsForm.order.type=='Graph'">
                            <div class="input-group">
                                <div class="input-group-addon">Layout Time</div>
                                <input type="number" class="form-control"
                                       ng-model="analyticsForm.order.layoutTime">
                            </div>
                        </div>

                        <div class="form-group" ng-show="analyticsForm.order.type=='Graph'">
                            <button type="button" class="btn btn-primary" ng-model="analyticsForm.order.filterGiant"
                                    uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                                Filter Giant
                            </button>
                        </div>

                        <button type="submit" class="btn btn-primary">Start</button>
                        <button type="button" class="btn" ng-click="cancel()">Cancel</button>

                    </form>
                </div>

            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left" style="padding-top: 7.5px;">Data Sets Ready for Analytics</h3>
                    <div class="pull-right">
                        <button class="btn btn-success"
                                ng-click="refreshTable()"><i class="fa fa-refresh"></i></button>
                    </div>
                </div>

                <table class="table table-striped  table-bordered table-hover">
                    <col width="7%">
                    <col width="8%">
                    <col width="10%">
                    <col width="7%">
                    <col width="16%">
                    <col width="10%">
                    <col width="10%">
                    <col width="6%">
                    <thead>
                    <tr>
                        <th>Operation</th>
                        <th>
                            <a href="" ng-click="sortType = 'description' ; sortReverse = !sortReverse ">Description</a>
                            <span ng-show="sortType=='description'">
                                <span ng-show="sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="!sortReverse" class="fa fa-caret-up"></span>
                            </span>
                        </th>
                        <th width="200">
                            Id
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'status';  ; sortReverse = !sortReverse">Status</a>
                            <span ng-show="sortType=='status'">
                                <span ng-show="sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="!sortReverse" class="fa fa-caret-up"></span>
                            </span>
                        </th>

                        <th>Tags</th>
                        <th>
                            <a href="" ng-click="sortType = 'startDate';  ; sortReverse = !sortReverse">Start Date</a>
                            <span ng-show="sortType=='startDate'">
                                <span ng-show="sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="!sortReverse" class="fa fa-caret-up"></span>
                            </span>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'endDate';  ; sortReverse = !sortReverse">End Date</a>
                            <span ng-show="sortType=='endDate'">
                                <span ng-show="sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="!sortReverse" class="fa fa-caret-up"></span>
                            </span>
                        </th>
                        <th>Size</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat-start="p in datasets | orderBy:'name' | filter:searchText | orderBy:sortType:sortReverse">
                        <td style="width:8%">
                            <button class="btn"
                                    ng-class="{true:'btn-success', false: 'btn-info'}[analyticsForm.order.id==p.id]"
                                    ng-click="orderAnalytics(p) "><i class="glyphicon glyphicon-pencil"></i></button>
                            <button class="btn btn-success" ng-click="p.analytics=getAnalytics(p); expanded=!expanded">
                                <i
                                        class="glyphicon"
                                        ng-class="{'glyphicon-chevron-down':expanded&&p.analytics.length>0, 'glyphicon-chevron-right':!expanded || (p.analytics==null || p.analytics.length==0)}"></i>
                            </button>

                        <td ng-bind="p['description']"></td>
                        <td ng-bind="p['id']"></td>
                        <td ng-bind="p['status']"></td>
                        <td ng-bind="p['tags']"></td>
                        <td ng-bind="p['startDate']"></td>
                        <td ng-bind="p['endDate']"></td>
                        <td ng-bind="p['filterSize']"></td>
                    </tr>
                    <tr ng-repeat-end ng-if="expanded && p.analytics.length != 0">
                        <td></td>
                        <td colspan="6">
                            <table class="table  table-bordered">
                                <thead>
                                <tr>
                                    <th style="width:10%"></th>
                                    <th style="width:45%">Id</th>
                                    <th style="width:45%">Type</th>
                                    <th style="width:45%">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="a in p.analytics">
                                    <td>
                                        <button class="btn btn-success" ng-click="download(a)"
                                                ng-show="a['status']=='FINISHED'"><i
                                                class="glyphicon glyphicon-download"></i></button>
                                        <button class="btn btn-inverse" ng-click="delete(a,p)"
                                                ng-show="a['status']=='FINISHED'"><i
                                                class="glyphicon glyphicon-trash"></i></button>
                                    </td>
                                    <td style="width:45%" ng-bind="a['id']"></td>
                                    <td style="width:45%" ng-bind="a['type']"></td>
                                    <td style="width:45%" ng-bind="a['status']"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    </tbody>

                </table>


            </div>
        </div>

    </div>


</div>


</body>
</html>